In [53]:
import pandas as pd # load data

In [54]:
df = pd.read_csv("Student_Performance.csv") # read data

In [55]:
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [56]:
df.tail()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
9995,1,49,Yes,4,2,23.0
9996,7,64,Yes,8,5,58.0
9997,6,83,Yes,8,5,74.0
9998,9,97,Yes,7,0,95.0
9999,7,74,No,8,1,64.0

In [57]:
df.describe()

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,4.992900,69.445700,6.530600,4.583300,55.224800
std,2.589309,17.343152,1.695863,2.867348,19.212558
min,1.000000,40.000000,4.000000,0.000000,10.000000
25%,3.000000,54.000000,5.000000,2.000000,40.000000
50%,5.000000,69.000000,7.000000,5.000000,55.000000
75%,7.000000,85.000000,8.000000,7.000000,71.000000
max,9.000000,99.000000,9.000000,9.000000,100.000000

In [58]:
#check for null values
df.isnull().sum()

Hours Studied                       0
Previous Scores                     0
Extracurricular Activities          0
Sleep Hours                         0
Sample Question Papers Practiced    0
Performance Index                   0
dtype: int64

In [59]:
#No null values soo we can proceed forward

In [60]:
#check data types
df.dtypes

Hours Studied                         int64
Previous Scores                       int64
Extracurricular Activities           object
Sleep Hours                           int64
Sample Question Papers Practiced      int64
Performance Index                   float64
dtype: object

In [61]:
# we have to change something in string we have to convert it in numerical
# we try to convert it into 0/1 with encoding technique
#Lets use label encoding

In [62]:
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [63]:
df["Extracurricular Activities"]

0       Yes
1        No
2       Yes
3       Yes
4        No
       ...
9995    Yes
9996    Yes
9997    Yes
9998    Yes
9999     No
Name: Extracurricular Activities, Length: 10000, dtype: object

In [64]:
# first create object of label encoder and then we call fit_transform along with column

le = LabelEncoder()
le.fit_transform(df["Extracurricular Activities"])

array([1, 0, 1, ..., 1, 1, 0], shape=(10000,))

In [65]:
#Update the dataframe
df["Extracurricular Activities"] = le.fit_transform(df["Extracurricular Activities"])

In [66]:
df

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,1,9,1,91.0
1,4,82,0,4,2,65.0
2,8,51,1,7,2,45.0
3,5,52,1,5,2,36.0
4,7,75,0,8,5,66.0
...,...,...,...,...,...,...
9995,1,49,1,4,2,23.0
9996,7,64,1,8,5,58.0
9997,6,83,1,8,5,74.0
9998,9,97,1,7,0,95.0
9999,7,74,0,8,1,64.0

In [67]:
#Now we have create x and y
x = df[["Hours Studied",	"Previous Scores",	"Extracurricular Activities",	"Sleep Hours",	"Sample Question Papers Practiced"]]

In [68]:
x

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced
0,7,99,1,9,1
1,4,82,0,4,2
2,8,51,1,7,2
3,5,52,1,5,2
4,7,75,0,8,5
...,...,...,...,...,...
9995,1,49,1,4,2
9996,7,64,1,8,5
9997,6,83,1,8,5
9998,9,97,1,7,0
9999,7,74,0,8,1

In [69]:
y = df[["Performance Index"]]

In [70]:
y

      Performance Index
0                  91.0
1                  65.0
2                  45.0
3                  36.0
4                  66.0
...                 ...
9995               23.0
9996               58.0
9997               74.0
9998               95.0
9999               64.0

[10000 rows x 1 columns]

In [71]:
#Split data into training and testing data
from sklearn.model_selection import train_test_split

In [72]:
#itwill return Xtrain Ytrain Xtest Ytest
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2)

In [73]:
x_train

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced
8196,9,53,1,9,6
5025,2,57,0,5,9
1228,1,80,0,7,1
1237,8,66,1,4,4
6888,7,77,0,9,0
...,...,...,...,...,...
3061,1,60,0,9,5
1134,3,84,1,7,0
7546,1,54,1,5,6
2963,4,55,1,7,8
1292,8,76,0,4,3

In [74]:
x_test

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced
5212,5,78,1,7,9
5051,5,60,1,6,9
4741,3,95,1,4,4
7208,1,51,0,8,7
6528,7,40,0,9,3
...,...,...,...,...,...
9467,9,43,0,6,5
3184,8,58,0,5,3
3861,8,56,0,6,7
5533,8,63,0,8,7
648,5,95,0,9,1

In [75]:
#use training data to train the model
#Now there is some preprocessing to do before model building - 

scaler = StandardScaler()
x_trained_scaled = scaler.fit_transform(x_train)

In [76]:
x_test_scaled = scaler.fit_transform(x_test)

In [77]:
x_trained_scaled

array([[ 1.55807591, -0.94086518,  1.00778027,  1.45843226,  0.4957795 ],
       [-1.161164  , -0.70954163, -0.9922798 , -0.90591408,  1.54597438],
       [-1.54962684,  0.62056881, -0.9922798 ,  0.27625909, -1.2545453 ],
       ...,
       [-1.54962684, -0.88303429,  1.00778027, -0.90591408,  0.4957795 ],
       [-0.38423831, -0.8252034 ,  1.00778027,  0.27625909,  1.19590942],
       [ 1.16961307,  0.38924525, -0.9922798 , -1.49700066, -0.55441538]],
      shape=(8000, 5))

In [78]:
x_test_scaled

array([[-0.00302114,  0.44784526,  1.0212252 ,  0.27898258,  1.51881022],
       [-0.00302114, -0.57925733,  1.0212252 , -0.30527413,  1.51881022],
       [-0.75830643,  1.4178866 ,  1.0212252 , -1.47378756, -0.19988416],
       ...,
       [ 1.12990679, -0.80750235, -0.97921594, -0.30527413,  0.83133247],
       [ 1.12990679, -0.40807357, -0.97921594,  0.8632393 ,  0.83133247],
       [-0.00302114,  1.4178866 , -0.97921594,  1.44749601, -1.23110078]],
      shape=(2000, 5))

In [79]:
# now we will do training

from sklearn.linear_model import LinearRegression
import pickle # physical file for deployment
from sklearn.metrics import mean_squared_error, r2_score,mean_absolute_error # metrics

In [80]:
# Now lets train model
model = LinearRegression()
model.fit(x_trained_scaled,y_train)

LinearRegression()

In [81]:
y_pred = model.predict(x_test_scaled)

In [82]:
x_test_scaled

array([[-0.00302114,  0.44784526,  1.0212252 ,  0.27898258,  1.51881022],
       [-0.00302114, -0.57925733,  1.0212252 , -0.30527413,  1.51881022],
       [-0.75830643,  1.4178866 ,  1.0212252 , -1.47378756, -0.19988416],
       ...,
       [ 1.12990679, -0.80750235, -0.97921594, -0.30527413,  0.83133247],
       [ 1.12990679, -0.40807357, -0.97921594,  0.8632393 ,  0.83133247],
       [-0.00302114,  1.4178866 , -0.97921594,  1.44749601, -1.23110078]],
      shape=(2000, 5))

In [83]:
model.predict([[-0.00230497, -1.23782039,  1.00702467,  0.29096856,  0.79816301]])

array([[34.13541188]])

In [84]:
mean_squared_error(y_test,y_pred)

5.165450009989422

In [85]:
r2_score(y_test,y_pred)

0.9861329612795239

In [86]:
#Saving the model in the file
with open("linear_reg1_proj.pkl" , 'wb') as file:
    pickle.dump((model,scaler,le),file) # so that the model can understand the transformations and standardizations